* {
    padding: 0;
    margin: 0;
    font-family: 'Century Gothic';
}

header h1 {
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.menu-item {
    background-color: grey;
    margin: 20px;
    outline: solid black;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    position: relative;
}

.chick {
    background-color: pink;
}

.beef {
    background-color: red;
}

.sushi {
    background-color: yellow;
}

section h2{
    text-align: center;
    width: 30%;
    position: relative;
    left: 70%;
    outline-style: solid;
}

section p {
    padding: 20px;
}

@media (max-width: 600px) {
    section {
        display: block;
    }

    .menu-item {
        width: 100%;
        margin: 20px 0;
    }

    section h2 {
        width: 30%;
        left: 70%;
    }
}
  
@media (min-width: 601px) and (max-width: 992px) {
    .menu-item {
        flex: 1 1 calc(50% - 40px); 
    }

    .menu-item:nth-child(3) {
        flex: 1 1 100%; 
    }
}
  
@media (min-width: 993px) {
    .menu-item {
        flex: 1 1 calc(33% - 40px);
    }
}
